In [4]:
import os
from google.cloud import bigquery

# ★ ここに JSON 鍵の絶対パスを入れる
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/OWNER/keys/civic-reserve-481017-n0-f18b1a6daee4.json"

client = bigquery.Client()

df = client.query("SELECT 1 AS x").to_dataframe()
df

/opt/anaconda3/lib/python3.13/site-packages/google/cloud/bigquery/table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   x
0  1

In [2]:
query = """
SELECT 
  DATE(block_timestamp) AS date,
  COUNT(1) AS tx_count
FROM `bigquery-public-data.crypto_bitcoin.transactions`
GROUP BY date
ORDER BY date
LIMIT 10
"""

df = client.query(query).to_dataframe()
df

/opt/anaconda3/lib/python3.13/site-packages/google/cloud/bigquery/table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

         date  tx_count
0  2009-01-03         1
1  2009-01-09        14
2  2009-01-10        61
3  2009-01-11        93
4  2009-01-12       101
5  2009-01-13       123
6  2009-01-14       130
7  2009-01-15       134
8  2009-01-16       110
9  2009-01-17       109